
<app-banner [a]="title"></app-banner>

<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">
          <form [formGroup]="playerForm">
            <div class="form-group">
                <input type="text" formControlName="name"[(ngModel)]="obj.name" class="form-control" placeholder="Name">
              </div>
              <div *ngIf="
              playerForm.controls['name'].invalid &&
              (playerForm.controls['name'].touched ||
                playerForm.controls['name'].dirty) ">
                        <div *ngIf="playerForm.controls['name'].errors.required">
                            player name is required
                        </div>
                        <div *ngIf="playerForm.controls['name'].errors.minlength">
                            player name should have at least 3 carac
                        </div>
                    </div>
              <div class="form-group">
                <input type="number" formControlName="age" [(ngModel)]="obj.age" class="form-control" placeholder="Age">
              </div>
              <div class="form-group ">
                <input type="number" formControlName="nbr"[(ngModel)]="obj.nbr" class="form-control" placeholder="nbr">
              </div>
            <div class="form-group">
              <input type="text"  formControlName="position" [(ngModel)]="obj.position" class="form-control" placeholder="Position">
            </div>
            <div class="form-group">
              <select name="teamId" id="teamId" class="form-control" (change)="selectTeam($event)">
                <option [value]="t._id" *ngFor="let t of teams" style ="color:black">{{t.teamName}}</option>
              </select>
            </div>
            <div class="form-group">
              <input type="submit"(click)="addOrEditPlayer()" class="btn btn-outline-primary py-3 px-5" value="Add ">
            </div>
          </form>  
        </div>
        <div class="col-lg-3"></div>

      </div>
    </div>
  </div>

