
<app-banner [a]="title"></app-banner>
<div class="widget-next-match">
    <table class="table custom-table">
      <thead> 
        <tr>
          <th>id</th>
          <th>name</th>
          <th>foundation</th>
          <th>stadium</th>
          <th>owner</th>
          <th *ngIf="isDisplayed">Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <td>{{team.id}}</td>
          <td><strong class="text-white">{{team.name}}</strong></td>
          <td>{{team.foundation}}</td>
          <td>{{team.staduim}}</td>
          <td>{{team.Owner}}</td>
          <td *ngIf="isDisplayed">   
            <button class="btn btn-success" click()="goToEdit(team.id)">Edit</button>
            <button class="btn btn-warning " click()="goToDisplayTeam(team.id)">Display</button>
            <button class="btn btn-danger">Delete</button>
          </td>
        </tr>  
      </tbody>
    </table>
  </div>